.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 3px solid #5385C5;
  margin-bottom: 10px;
  top: 0px;
  z-index: 100020;
  position: fixed;
  width: 2000px;
  background-color: #FFFFFF;
}
.header container {
    display: block;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.main-contain .instructions {
    margin-top: 0px;
    border-bottom: 1px solid #AAAAAA;
    top: 70px;
    z-index: 100000;
    position: fixed;
    width: 1500px;
    background-color: #FFFFFF;
}
.cell-parks {
    margin-top: 255px;
}

.iconize {
    width: 20px;
    height: 20px;
}
.iconize.pop:hover {
    animation: icon-pop 0.2s 0.4s forwards
}

@keyframes icon-pop {
    from { transform: scale(1); }
    to { transform: scale(1.5); }
}

.label {
    display: inline-block;
}

.del-cell-park,.a-option {
    border: none;
    opacity:0;
    visibility: hidden;
}
.del-cell-park {
    float: right;
}
.del-cell-park:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: transform 1s ease-out;
}
.avail {
    opacity: 1;
    visibility: visible;
}
.noavail {
    opacity: 0;
    visibility: hidden;
}

#main_container .cell-park {
    float: left;
}

.logo img {
    margin: 20px;
}

@keyframes glint {
    from { }
    to { }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
